            <!DOCTYPE html>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <html lang="en">
            <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">


              <title>{{site.name}}</title>
              <!-- Octicons -->
              <link rel="stylesheet" href="{{site.github.url}}/assets/octicons/octicons/octicons.css">

              <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
              <![endif]-->

              <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
              <link href="{{site.github.url}}/assets/css/docs.min.css" rel="stylesheet">
              <link href="{{site.github.url}}/assets/css/style.css" rel="stylesheet">
              <style>
                #content {
                  background:{{site.header.color1}};
                  background:linear-gradient(135deg, {{site.header.color1}}, {{site.header.color2}});
                }
              </style>


              <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
              <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>
              <script src="{{site.github.url}}/assets/js/docs.min.js"></script>
            
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-78203902-1', 'auto');
            ga('send', 'pageview');
            
            </script>

            </head>

            <body>
                        <div class="wrapper">
              <!-- Main navigation
              =========================================== -->
              <header class="navbar navbar-static-top bs-docs-nav" id="top">
                <div class="container">
                  <div class="navbar-header" role="banner">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{site.github.url}}/index.html"><span class="octicon octicon-pulse"></span> {{site.name}}</a>
                  </div>
                  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                    {% assign sorted_pages = site.pages | sort:"priority" %}
                    {% for p in sorted_pages %}
                      {% if p.isHome != true and p.hide != true and p.title !=  %}
                      <li {% if page.title == p.title %}class="active"{% endif %}>
                        {% if p.title == "Contribute" %}
                        <a href="{{site.github.url}}{{p.url}}"><span class="octicon octicon-organization"></span> {{p.title}}</a>
                        {%else%}
                        <a href="{{site.github.url}}{{p.url}}"> {{p.title}}</a>
                        {% endif %}
                      </li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% for p in site.headerLinks %}
                      <li>
                        <a href="{{p.url}}" target="_top"><span class="octicon octicon-octoface"></span> View on {{p.title}}</a>
                      </li>
                    {% endfor %}
                    </ul>
                  </nav>
                </div>
              </header>

              <!-- Header
              =========================================== -->
              {% if page.isHome %}
              <div class="bs-docs-masthead" id="content">
                <div class="container">
                  <h1 class="home-title">{{site.name}}</h1>
                  <p class="lead">{{page.description}}</p>
                  <p class="lead">
                    <a href="{{site.downloadUrl}}" class="btn btn-outline-inverse btn-lg" target="_top"> <span class="mega-octicon octicon-mark-github"></span> Project on GitHub</a>
                    <a href="{{site.downloadUrl}}/archive/master.zip" class="btn btn-outline-inverse btn-lg"> <span class="mega-octicon octicon-file-zip"></span> Download .zip</a>
                    <a href="{{site.downloadUrl}}/archive/master.tar.gz" class="btn btn-outline-inverse btn-lg"> <span class="mega-octicon octicon-file-zip"></span> Download .tar.gz</a>
                  </p>       
                  <p class="version">Currently v{{site.version}}  - {{site.license}}</p>
                </div>
              </div>

              {% else %}
              <div class="bs-docs-header" id="content">
                <div class="container">
                  <h1>{{page.title}}</h1>
                  <p>{{page.description}}</p>
                </div>
              </div>
              {% endif %}

              <div class="container bs-docs-container">
                <div class="row">
                  <!-- Content
                  =========================================== -->
                  <div class="col-md-9" role="main">
                    {{content}}
                  </div>

                  <!-- Page navigation
                  =========================================== -->
                  <div class="col-md-3" role="complementary">
                    <div class="bs-docs-sidebar hidden-print">
                      <ul class="nav bs-docs-sidenav">
                      </ul>
                      <a class="back-to-top" href="#top">
                        <i class="glyphicon glyphicon-chevron-up"></i> Back to top
                      </a>
                    </div>
                  </div>
                </div>
              </div> <br>
                <div class="push"></div>
            </div>                     
           <!-- Footer
              =========================================== -->     
            
<div class="footer">
    <div class="small"><center>FECGSYN was contributed by members of the following institutions: </center></div>
    <center>
    <div>
        <div class="row row-spaced" style="background-color:#f5f5f5; margin-bottom: 2px; padding:5px">
            <div class="col-xs-3">                 
                <a href="https://tu-dresden.de/" target="_blank"><img class="img-responsive"  src="{{site.github.url}}/assets/images/tu-dresden.png" alt="Technische Universitaet Dresden"></a>
            </div>
            <div class="col-xs-3">
                <a href="http://www.ox.ac.uk/" target="_blank"><img class="img-responsive" src="{{site.github.url}}/assets/images/oxford.png" alt="University of Oxford"></a>
            </div>
            <div class="col-xs-3">
                <a href="http://www.technion.ac.il/en/" target="_blank"><img class="img-responsive" src="{{site.github.url}}/assets/images/technion.png" alt="Technion Israel Institute of Technology"></a>
            </div>
            <div class="col-xs-3">
                <a href="http://www.emory.edu/" target="_blank"><img class="img-responsive" src="{{site.github.url}}/assets/images/emory.png" alt="Emory University"></a>
            </div>
        </div>
    <div>
        <center>
        <ul class="bs-docs-footer-links muted">
        <li>Currently v{{site.version}}</li>
        {% for l in site.footerLinks %}
        <li>&middot;</li>
        <li><a href="{{l.url}}" target="_top"><span class="octicon octicon-mark-github"></span> {{l.title}}</a></li>
        {% endfor %}
        </ul>
        </center>
    </div>
        </center>
</div>
            <!--
              <footer class="bs-docs-footer" role="contentinfo">




              </footer>
            -->


              <!-- Async scripts
              =========================================== -->
              {% if site.header.trianglify %}
              <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.2/trianglify.min.js"></script>
              <script>trianglify('{{site.header.color1}}', '{{site.header.color2}}');</script>
              {% endif %}

              {% if site.twitter.enabled or site.twitter.account %}
              <script>
                window.twttr = (function (d,s,id) {
                  var t, js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=1;
                  js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
                  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
                }(document, "script", "twitter-wjs"));
              </script>
              {% endif %}

              {% if site.facebook.enabled or site.facebook.profileUrl %}
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              </script>
              {% endif %}

              {% if site.analytics.account and site.analytics.domain %}
              <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                ga('create', '{{site.analytics.account}}', '{{site.analytics.domain}}');
                ga('send', 'pageview');
              </script>
              {% endif %}

            </body>
            </html>
